html {
  font-size: 62.5%;
}

body {
  background-color: #eae7dc;
  box-sizing: border-box;
  margin: 0;
}

p, h4, h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora";
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 1rem 0;
}

::selection {
  background-color: rgba(233, 128, 116, 0.3764705882);
}

h1 {
  font-family: "Bebas Neue";
  font-size: 4.4rem;
  margin: 1rem 0;
  letter-spacing: 2px;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h4 {
  font-weight: 700;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10rem 0;
}

button {
  background-color: transparent;
  border: 2px solid #e85a4f;
  color: #e85a4f;
  cursor: pointer;
  font-family: "Lora";
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8rem 1.8rem;
}

button {
  transition: box-shadow 0.2s ease-out;
}

button:hover {
  box-shadow: 1px 1px 0 1px #e85a4f;
}

nav {
  margin: 2rem auto;
  max-width: 1240px;
}

.nav--logo {
  height: 60px;
  width: 60px;
}

.hero {
  align-items: center;
  display: flex;
  min-height: 80vh;
  margin: 0 auto;
}
.hero .hero--description {
  margin-bottom: 4rem;
}

.brain {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

.ayurveda--description {
  width: 500px;
  line-height: 1.8;
}

.highlight {
  color: rgba(0, 0, 0, 0.404);
}

.reviews {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 0 1rem;
  margin-top: 8rem;
}

.review {
  background-color: rgba(216, 195, 165, 0.3764705882);
  border: 2px solid #d8c3a5;
  height: 360px;
  padding: 2rem 4.8rem;
  width: 360px;
  transition: box-shadow 0.2s ease-out;
}

.review:hover {
  box-shadow: 2px 2px 0 2px #d8c3a5;
}

.review--content {
  font-size: 1.8rem;
}

.review--header {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  opacity: 1;
}
.review--header h4,
.review--header p {
  margin: 0;
}

.review--image {
  border-radius: 30px;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.review--problem {
  font-family: "Lora";
  background-color: #d8c3a5;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
  padding: 0.4rem 1rem;
}

.doctor--header {
  margin-bottom: 10rem;
}

.doctor--image {
  height: 320px;
  width: 320px;
}

.doctor--content {
  display: grid;
  gap: 10rem;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
}

.doctor--description {
  font-size: 2rem;
  line-height: 2;
  max-width: 480px;
}

.contact {
  display: grid;
  gap: 12rem;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
}

.contact--box {
  margin-top: 4rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #e85a4f;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Bebas Neue";
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 4rem;
  max-width: 360px;
  outline: none;
  padding: 0.8rem 1.4rem;
  resize: none;
  width: 100%;
  transition: box-shadow 0.2s ease-out;
}

input:focus,
textarea:focus {
  box-shadow: 1px 1px 0 1px #e85a4f;
}

.gallery {
  min-height: 100vh;
  position: relative;
  transform: scale(0.8);
  margin: 10rem 0;
}

.gallery--heading {
  font-size: 30rem;
  position: absolute;
  color: rgba(216, 195, 165, 0.3764705882);
  top: -12%;
}

.gallery--photo {
  background-color: #e98074;
  position: absolute;
  object-fit: cover;
  border: 3px solid #d8c3a5;
  box-shadow: 4px 4px 16px 4px rgba(217, 196, 166, 0.5);
}

.gallery--photo--1 {
  width: 400px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery--photo--2 {
  width: 280px;
  height: 200px;
  top: 5%;
  left: 30%;
}

.gallery--photo--3 {
  width: 150px;
  height: 140px;
  top: 12%;
  left: 52%;
}

.gallery--photo--4 {
  width: 275px;
  height: 215px;
  top: 18%;
  left: 67%;
}

.gallery--photo--5 {
  width: 200px;
  height: 160px;
  top: 50%;
  left: 67%;
}

.gallery--photo--6 {
  width: 300px;
  height: 220px;
  top: 73%;
  left: 50%;
}

.gallery--photo--7 {
  width: 150px;
  height: 140px;
  top: 73%;
  left: 35%;
}

.gallery--photo--8 {
  width: 275px;
  height: 380px;
  top: 36%;
  left: 12%;
}

/*# sourceMappingURL=styles.css.map */
