// Variables

$fontFamily: "Poppins";
$primaryColor: dodgerblue;
$darkColor: #202020;
$darkGrey: #707070;
$lightGrey: #cacaca;
$bgColor: white;
$primaryShadowColor: rgba(30, 143, 255, 0.3);

// Basic Styles

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $fontFamily, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bgColor;
}

// Typography

h1 {
  font-size: 5.4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

h3 {
  font-size: 2.8rem;
  font-weight: normal;
}

h4 {
  font-size: 2rem;
  font-weight: normal;
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: $darkGrey;
}

// Links

a {
  text-decoration: none;
  color: $darkColor;
  font-size: 2rem;
  padding: 1.2rem 1.4rem;
}

// Buttons

%button {
  background-color: $primaryColor;
  color: $bgColor;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

button,
.btn {
  @extend %button;
  transition: box-shadow 0.2s ease-out;
}

.btn:hover {
  box-shadow: 0 4px 10px 1px $primaryShadowColor;
}

.btn--secondary {
  background-color: $bgColor;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  transition: background-color, color 0.1s ease-out;
}

.btn--secondary:hover {
  background-color: $primaryColor;
  color: $bgColor;
  border: 1px solid $primaryColor;
}

// Navbar

nav {
  margin: 0.8rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
}

.nav--logo {
  width: 70px;
}

.nav--items {
  list-style: none;

  a {
    margin-left: 2.8rem;
  }
}
