// Variables

$bgColor: #eae7dc;
$primaryColor: #e85a4f;
$lightPrimaryColor: #e98074;
$lightColor: rgba(0, 0, 0, 0.8);
$extraLightColor: rgba(0, 0, 0, 0.02);

$fontPrimary: "Bebas Neue";
$fontSecondary: "Lora";

// Main

html {
  font-size: 62.5%;
}

body {
  background-color: $bgColor;
  box-sizing: border-box;
  margin: 0;
}

// Typography

%paragraph-style {
  color: $lightColor;
  font-family: $fontSecondary;
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 1rem 0;
}

::selection {
  background-color: #e9807460;
}

h1 {
  font-family: $fontPrimary;
  font-size: 4.4rem;
  margin: 1rem 0;
  letter-spacing: 2px;
}

h2 {
  @extend %paragraph-style;
  font-size: 2.8rem;
  font-weight: 400;
}

h4 {
  @extend %paragraph-style;
  font-weight: 700;
}

p {
  @extend %paragraph-style;
}

// Sections

.container {
  margin: 4rem auto;
  max-width: 1240px;
}

// Buttons

%basic-button {
  background-color: transparent;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  cursor: pointer;
  font-family: $fontSecondary;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8rem 1.8rem;
}

button {
  @extend %basic-button;
  transition: box-shadow 0.2s ease-out;
}

button:hover {
  box-shadow: 1px 1px 0 1px $primaryColor;
}

// Navbar

nav {
  margin: 1rem auto;
  max-width: 1240px;
}

.nav--logo {
  height: 60px;
  width: 60px;
}

// Hero

.hero {
  align-items: center;
  display: flex;
  min-height: 80vh;

  .hero--description {
    margin-bottom: 4rem;
  }
}

.brain {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

// Ayurveda Description

.ayurveda--description {
  width: 500px;
  line-height: 1.8;
}

.highlight {
  color: rgba(0, 0, 0, 0.404);
}
