// Variables

$bgColor: #eae7dc;
$primaryColor: #e85a4f;
$lightPrimaryColor: #e98074;
$lightColor: rgba(0, 0, 0, 0.8);
$extraLightColor: rgba(0, 0, 0, 0.02);
$tertiaryColor: #d8c3a5;
$lightTertiaryColor: #d8c3a560;

$fontPrimary: "Bebas Neue";
$fontSecondary: "Lora";

// Main

html {
  font-size: 62.5%;
}

body {
  background-color: $bgColor;
  // box-sizing: border-box;
  margin: 0;
}

// Typography

%paragraph-style {
  color: $lightColor;
  font-family: $fontSecondary;
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 1rem 0;
}

::selection {
  background-color: #e9807460;
}

h1 {
  font-family: $fontPrimary;
  font-size: 4.4rem;
  margin: 1rem 0;
  letter-spacing: 2px;
}

h2 {
  @extend %paragraph-style;
  font-size: 2.8rem;
  font-weight: 400;
}

h4 {
  @extend %paragraph-style;
  font-weight: 700;
}

p {
  @extend %paragraph-style;
}

// Sections

.container {
  max-width: 1240px;
  margin: 20rem auto;
}

// Buttons

%basic-button {
  background-color: transparent;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  cursor: pointer;
  font-family: $fontSecondary;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8rem 1.8rem;
}

button {
  @extend %basic-button;
  transition: box-shadow 0.2s ease-out;
}

button:hover {
  box-shadow: 1px 1px 0 1px $primaryColor;
}

// Navbar

nav {
  margin: 2rem auto;
  max-width: 1240px;
}

.nav--logo {
  height: 60px;
  width: 60px;
}

// Hero

.hero {
  align-items: center;
  display: flex;
  min-height: 80vh;
  margin: 0 auto;

  .hero--description {
    margin-bottom: 4rem;
  }
}

.brain {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

// Ayurveda Description

.ayurveda--description {
  width: 500px;
  line-height: 1.8;
}

.highlight {
  color: rgba(0, 0, 0, 0.404);
}

// Reviews

.reviews--page {
  margin: 14rem auto;
}

.reviews {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin: 8rem 0;
  padding: 0 1rem;
}

.review {
  background-color: $lightTertiaryColor;
  border: 2px solid $tertiaryColor;
  box-shadow: 2px 2px 0 2px $tertiaryColor;
  height: 360px;
  padding: 2rem 4.8rem;
  width: 360px;
}

.review--content {
  font-size: 1.8rem;
}

.review--header {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  opacity: 1;

  h4,
  p {
    margin: 0;
  }
}

.review--image {
  border-radius: 30px;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.review--problem {
  font-family: $fontSecondary;
  background-color: $tertiaryColor;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
  padding: 0.4rem 1rem;
}

// Meet Doctor

.doctor--header {
  margin-bottom: 10rem;
}

.doctor--image {
  height: 320px;
  width: 320px;
}

.doctor--content {
  display: grid;
  gap: 10rem;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.doctor--description {
  font-size: 2rem;
  line-height: 2;
  max-width: 480px;
}

// Contact

.contact {
  display: grid;
  gap: 12rem;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.contact--box {
  margin-top: 4rem;
}

// Form

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid $primaryColor;
  box-shadow: 1px 1px 0 1px $primaryColor;
  color: $lightColor;
  font-family: $fontPrimary;
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 4rem;
  max-width: 360px;
  outline: none;
  padding: 0.8rem 1.4rem;
  resize: none;
  width: 100%;
}
